.question{
    font-family: arial;
    font-weight:700;
    font-size: medium;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.end{
    font-family: arial;
    font-weight:700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product img{
    width:80px;
    height:80px;
}

/* .experim{
    position: absolute;

    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    margin:auto;

} */


/* border-radius: 25px;
border: 3px solid #c8ccc3;
padding: 20px;
align-items: center;
justify-content: center;
flex-direction: column;
display: flex;
width: 1000px;
height: 150px;
margin: 10px;
background-color: #f3f6ef; */


.product{
    border-radius: 25px;
    border: 3px solid #c8ccc3;
    padding: 20px;
    width: 1000px;
    height: 150px;
    margin: 10px;
    background-color: #f3f6ef;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    
  }


.prod{
    font-family: arial;
    font-weight: 700;
    text-align: center;
}

.mainDiv{
    text-align: center;
    flex-wrap:wrap;
    display:flex;
    align-items:center;
    justify-content: center;
    margin:20px;
}

/* BREAKPOINTS */

    /* TABLET */
    @media only screen and (min-width: 600px){
        .product{
            width: calc(15%);
        }

    }
        /* DESKTOP */
    @media only screen and (min-width: 1000px){
        .product{
            width: calc(13%);
        }
    }

    @media only screen and (max-width: 600px){
        .product{
            width: calc(30%);
        }
    }

